  <li>
    <h5><a href="/comment/<%= comment.id %>/comment_vote" class="up_vote">&uarr;</a> Votes: <span id="vote_count"><%= comment.comment_votes.count %></span> | <%= comment.user.name %></h5>
    <p>Comment: <%= comment.content%></p>
  </li>