<div id="nav-bar">
  <ul>
    <li><h1>Hacker News!</h1></li>
    <li>new</li>
    <li>comments</li>
    <li>show</li>
    <li>ask</li>
    <li>jobs</li>
    <li><a href="/submit">submit</li>
    <li><a href="/login">login</a></li>
    <li><a href="/logout">logout</a></li>
  </ul>
</div>