<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Hacker News</title>
</head>
<body>
  <div id="nav-bar">
    <ul>
      <li><a href="/news">Hacker News</a></li>
      <li>new</li>
      <li>|</li>
      <li>comments</li>
      <li>|</li>
      <li>show</li>
      <li>|</li>
      <li>ask</li>
      <li>|</li>
      <li>jobs</li>
      <li>|</li>
      <li><a href="/submit">submit</a></li>
      <% if logged_in? %>
        <li><a href="/logout" id="float-right">logout</a></li>
      <% else %>
        <li><a href="/login" id="float-right">login</a></li>
      <% end %>
    </ul>
  </div>
  <%= yield %>
</body>
</html>
