<div id="login-page">

<h3>Login</h3>

  <form action="/login" method="POST">
    <ul id="remove-list-style">

      <li><label for="user-name">username:</label><input type="text" name="user[name]" id="user-name"></li>

      <li><label for="user-password">password:</label><input type="password" name="user[password]" id="user-password"></li>

      <li><input type="submit" value="login" class="button"></li>
    </ul>
  </form>

  <% if @errors %>
    <ul>
      <% @errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<h3><a href="#">Forgot your password?</a></h3>

<h3>Create Account</h3>

  <form action="/login/new" method="POST">
    <ul id="remove-list-style">

    <li><label for="user-name">username:</label>
    <input type="text" name="user[name]" id="user-name"></li>

    <li><label for="user-email">email:    </label>
    <input type="text" name="user[email]" id="user-email"></li>

    <li><label for="new-user-password">password:</label>
    <input type="password" name="user[password]" id="user-password"></li>

    <input type="submit" value="create account" class="button">

  </form>

</div>