<div id="submit-page">
<form action="/submit" method="POST">
  <ul>
    <li><label for="post-title">Title:</label>
    <input type="text" name="post[title]" id="post-title"></li>

    <li><label for="post-url">  url:</label>
    <input type="text" name="post[url]" id="post-url"></li>

    <li><label for="post-story">story:</label>
    <textarea id="post-story" type="text" cols="70" rows="10" name="post[story]"></textarea>

    <input type="hidden" name="post[user_id]" value="<%= current_user.id %>">

    <li><input type="submit" value="Post to Hacker News" class="button"></li>
  </ul>
  </form>

    <% if @errors %>
    <ul>
      <% @errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>